* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E3E1C6;
}

p {
	/* padding: 20px; */
	width: calc(100%/6);
}

.box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: calc(100%/1.5);

	background-color: #FFF;
	margin: 0 auto;
}

.header {
	border-top: #066 20px solid;
	border-bottom: #066 20px solid;
}

.header img {
	vertical-align: bottom;
}

.box {
	/* height: 1000px; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* padding: 20px; */
	box-sizing: border-box;

}

.box>.b1 {
	/* padding: 20px; */
	margin: 0 20px;
	display: flex;
	justify-content: center;
	/* padding: 20px; */
	box-sizing: border-box;
	align-self: flex-end;
	max-width: 1000px;
	flex-wrap: wrap;
	background: #c5bbbb;
}

.box>.b1>p {
	/* padding: 20px; */
	margin: 20px 20px;
	width: 300px;
}

.box>.b2 {
	/* padding: 20px; */
	margin: 20px 20px;
	display: flex;
	/* justify-content: space-between; */
	/* padding: 20px; */
	max-width: 1000px;
	flex-wrap: wrap;
	box-sizing: border-box;
	background: #d5e6bf;
	padding: 10px;
	box-sizing: border-box;

}

.box>.b2>p {
	margin: 10px;
	width: 30%;
	max-width: 300px;
	min-width: 100px;
	background-color: #FFF;
	padding: 10px;
	box-sizing: border-box;
}

.box>.b3 {
	/* padding: 20px; */
	margin: 0 20px;

	display: flex;
	justify-content: flex-end;
	max-width: 1000px;
	min-width: 100px;
	flex-wrap: wrap;
	/* padding: 20px; */
	box-sizing: border-box;
	background: #b2d0ec;
}