.header>h1 {
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.header {
    margin: 0 auto;
    width: 100%;
    background-image: url(./banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 150px;
}

ul {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}

li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    /* background-image: url(./icon4_1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

/* 預設圖 */
.icon1 {
  background-image: url('./icon1_1.png');
}
.icon2 {
  background-image: url('./icon2_1.png');
}
.icon3 {
  background-image: url('./icon3_1.png');
}
.icon4 {
  background-image: url('./icon4_1.png');
}
.icon5 {
  background-image: url('./icon5_1.png');
}


li a {
    display: block;

    /* background-color: #690; */
    text-align: center;
    color: #8400ff;
    text-decoration: none;
    padding-top: 95px;
}

li a:hover {
    /* background-color: #06C; */
    color: #FF6;
}
/* hover 圖 */
.icon1:hover {
    background-image: url('./icon1_2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon2:hover {
    background-image: url('./icon2_2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon3:hover {
    background-image: url('./icon3_2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon4:hover {
    background-image: url('./icon4_2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon5:hover {
    background-image: url('./icon5_2.png');
    background-size: cover;
    background-repeat: no-repeat;
}